.contact-section {
  height: 70rem;
  margin: 0 auto;
}

.contact-title1 {
  margin: 3rem 0 0rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: #c4c4c4;
  padding: 3rem 0 0;
}

.contact-title2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: #3e3e3e;
  padding: 0rem 0 1.5rem;
}

.contact-title2::after {
  content: "";
  border-bottom: 0.3rem solid #3e3e3e;
  width: 6rem;
  display: block;
  margin: 1rem auto 0rem;
}

.contact-details {
  background-color: #f7f4f4;
  margin: 1rem auto;
  padding: 1rem 0;
  border-radius: 1rem;
}

.contact-form {
  background-color: #ffffff;
  margin: 0 auto 4rem;
  padding: 4rem;
  border-radius: 1rem;
}

.send-btn {
  background-image: linear-gradient(to right, #fcee21 0%, #fcee21 100%);
  width: 12rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #343434;
  margin: 1rem 0;
}
