footer {
  background-color: #3e3e3e;
  padding: 2rem 0;
  color: #ffffff;
}

li {
  list-style: none;
}

.footer-navlink {
  font-size: 1.3rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.footer-navlink:hover {
  color: #ffffff;
}

.footer-icon {
  margin: 1rem 0.6rem;
}

.details {
  margin: 1rem;
}

.address {
  margin: 1rem 0;
  padding-bottom: 3rem;
}
