footer {
  background-color: #3e3e3e;
  padding: 2rem 0;
  color: #ffffff;
}

li {
  list-style: none;
}
.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-navlink {
  margin: 0 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.footer-icons {
  display: flex;
}

.footer-icon {
  margin: 0 0.6rem;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.address {
  margin: 1rem 0;
  padding-bottom: 5rem;
}
