.pmu-cont {
  background-color: #efefef !important;
  position: absolute;
  width: 100vw;
  height: 5rem;
}

.pmu-container {
  background-color: #efefef !important;
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 0 5rem;
}

.pmu-navitems {
  margin-left: 40rem;
}

.pmu-navlinks {
  padding-right: 3rem !important;
  font-size: 1.2rem;
  font-weight: 500;
  color: #3e3e3e;
  text-decoration: none;
}
.sign-in {
  background-image: linear-gradient(to right, #fcee21 0%, #fcee21 100%);
  width: 8rem;
  height: 2.5rem;
  margin-left: 5rem;
  border: none;
  border-radius: 0.9rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #3e3e3e;
}
