.hero-section {
  margin: 10rem auto 6rem;
}

/* .text-part {
  font-size: 3.5rem;
  font-weight: 700;
  color: #3e3e3e;
} */
.hero-msg {
  font-size: 2.5rem;
  font-weight: 600;
  color: #3e3e3e;
}
span {
  color: #fcee21;
}

.hero-text {
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
  margin-top: 1.2rem;
}

.hero-btn {
  background-image: linear-gradient(to right, #fcee21 0%, #fcee21 100%);
  width: 10rem;
  height: 4rem;
  margin: 1rem 0 2rem;
  border: none;
  border-radius: 0.9rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3e3e3e;
}
