.pmu-container {
  background-color: #efefef !important;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 1rem 3rem 0 2rem;
}

.logo {
  padding-bottom: 1rem;
}
.pmu-navitems {
  display: flex;
  margin-left: 20rem;
}

.pmu-navlinks {
  padding: 1rem !important;
  font-size: 1.2rem;
  font-weight: 500;
  color: #3e3e3e;
  text-decoration: none;
}
.pmu-navlinks:hover {
  color: #3e3e3e;
}
.sign-in {
  background-image: linear-gradient(to right, #fcee21 0%, #fcee21 100%);
  width: 8rem;
  height: 2.5rem;
  margin-left: 3rem;
  border: none;
  border-radius: 0.9rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #3e3e3e;
  margin-bottom: 1rem;
}
