.review-hero-title {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
  color: #343434;
  text-align: center;
  padding-top: 2rem;
}

.review-hero-msg {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 1rem;
  color: #000000;
}

.review-msg {
  padding: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.review-slider {
  margin-top: 1rem;
  padding: 2rem 0 0;
}

.slider-img {
  margin: 0 1rem 3rem;
}
