.shipping-icon {
  color: #3e3e3e;
  margin-bottom: 1rem;
}

.choose {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.select {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0 3rem;
}

.yellow-bg {
  background-color: #fcee21;
  color: #3e3e3e;
  border: 1px solid #fcee21;
  height: 4rem;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0.5rem;
}

.white-bg {
  background-color: #ffffff;
  color: #3e3e3e;
  border: 1px solid #fcee21;
  height: 4rem;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0.5rem;
}

.btn-link {
  color: #3e3e3e;
  text-decoration: none;
}
