.shipment-title {
  font-size: 2rem;
  font-weight: 600;
  color: #3e3e3e;
}
.shipment-list {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: #343434;
}

.shipment-list .active {
  font-size: 2rem;
  font-weight: 500;
  color: #3e3e3e;
}

.main-title {
  font-size: 2rem;
  font-weight: 500;
  color: #3e3e3e;
}

.label {
  font-size: 1.2rem;
  font-weight: 600;
  color: #3e3e3e;
}

.main-input {
  height: 4rem;
  color: #343434;
  margin-bottom: 2rem;
}

/* .main-input:focus {
  outline: none;
} */

.btn-container {
  display: flex;
  margin-top: 4rem;
}

.go-back-btn {
  border: 1px solid #fcee21;
  color: #3e3e3e;
  padding: 0.5rem 3rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.continue-btn {
  background-color: #fcee21;
  color: #3e3e3e;
  padding: 0.5rem 3rem;
  font-size: 1.2rem;
  font-weight: 600;
}

/* @media (min-width: 992px) {
  .offcanvas-backdrop::before {
    display: none;
  }

  main {
    margin-left: var(--offcanvas-width) !important;
  }

  .btn-container {
    margin-left: var(--offcanvas-width) !important;
  }

  .sidebarNav {
    transform: none !important;
    visibility: visible !important;
    top: var(--topNavbarHeight) !important;
    height: calc(100% - var(--topNavbarHeight)) !important;
  }
} */
