.shipment-title {
  font-size: 2rem;
  font-weight: 600;
  color: #3e3e3e;
}
.shipment-list {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: #343434;
}

.shipment-list .active {
  font-size: 2rem;
  font-weight: 500;
  color: #3e3e3e;
}

.main-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #3e3e3e;
}

.label {
  font-size: 1.2rem;
  font-weight: 600;
  color: #3e3e3e;
}

.main-input {
  height: 4rem;
  color: #343434;
  margin-bottom: 2rem;
}

/* .main-input:focus {
  outline: none;
} */

.btn-container {
  display: flex;
  margin-top: 4rem;
}

.back-btn {
  border: 1px solid #fcee21;
  color: #3e3e3e;
  padding: 0.5rem 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 2rem 0;
}

.continue-btn {
  background-color: #fcee21;
  color: #3e3e3e;
  padding: 0.5rem 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 2rem 0;
}

.change-btn {
  background: linear-gradient(
    180deg,
    rgba(252, 238, 33, 0.3) 99.99%,
    rgba(252, 238, 33, 0) 100%
  );
  color: #3e3e3e;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  margin: 1rem 0 0;
}

.progressContainer {
  display: flex;
}

.circle {
  width: 29px;
  height: 29px;
  background-color: #fff;
  line-height: 25px;
  color: #3e3e3e;
  border-radius: 50%;
  border: none;
  justify-content: center;
  align-items: center;
}

.stepWrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.stepNavLabel {
  color: #3e3e3e;
  margin-left: 1rem;
}

.circleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepBlock {
  display: flex;
}

.stepBlock .circleWrapper {
  padding: 0px 20px;
}

.selected .circle {
  background-color: #fcee21;
  color: #3e3e3e;
  border: none;
}
