.signup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  margin: 3rem 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-part {
  position: relative;
  display: flex;
  flex-direction: column;
}

.img {
  position: relative;
  object-fit: cover;
}

.signup-logo {
  position: absolute;
  top: 3rem;
  left: 3rem;
}
.form-row {
  color: #989898;
}

.form-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem auto 0;
}

.title {
  color: #989898;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}

.msg {
  color: #989898;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.label {
  color: #989898;
  font-size: 1.25rem;
  font-weight: 500;
}

.form-control {
  margin: 0.5rem auto 1.5rem;
  width: 27rem;
  height: 4rem;
  border-radius: 0.8rem;
  background-color: #ffffff;
  border: 0.5px solid #989898;
  color: #989898;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  outline: none;
}

.visible {
  width: 27rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  margin: 0.5rem auto 1.5rem;
}

.visible .icon {
  margin-left: -4rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  color: #989898;
}
.agreement-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.agreement {
  width: 33rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #9b9b9b;
  padding-top: 1rem;
}

.terms,
.signin {
  color: #fcee21;
}

.signup-btn {
  width: 27rem;
  height: 4rem;
  background-color: #fcee21;
  font-size: 1.25rem;
  color: #343434;
  text-align: center;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  border: none;
  outline: none;
}

.register {
  text-align: center;
  font-size: 1.25rem;
  color: #9b9b9b;
  padding-top: 0.7rem;
}

.register-signin {
  text-decoration: none;
}
